body {
	background-color: white;
	background-size: 1370px 600px;
	background-image: 
		url("https://media.istockphoto.com/vectors/global-network-connection-concept-big-data-visualization-social-in-vector-id1141304089?k=20&m=1141304089&s=612x612&w=0&h=WG_WsuvzUucQHTmRKVw4DLj3qgOXpYYG1nLHsAY5wVQ=");
}
h3{
	text-align:center;
	font-size:30px;
	color:red;
	font-weight:600;
}
.container{
	width: 500px;
	background-color: #728FCE;
	height: 550px;
	border: 3px solid black;
	margin-left: 30%;
	border-radius: 10%;
	position: fixed;
	box-shadow: 5px 3px 5px 3px;
}
h1{
	text-align:center;
	font-size:30px;
	font-weight:900;
}
.add-form{
	margin-top:1%;
	margin-left:10%;
}
.add-form label {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 25px;
	font-weight:800;
	color: black;
}
.add-form input {
	width: 200px;
	height: 27px;
}
.add-form button {
	margin-left:13%; 
	border-radius : 25px;
	background: cyan;
	color: black;
	padding: 10px;
	width: 120px;
}

.form{
    margin-top:5%;
	margin-left: 30%;
}
.form label {
	margin-left: 14%;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 22px;
	font-weight:800;
	color: white;
	text-align: center;
}

.form input {
	text-align: center;
	width: 200px;
	height: 27px;
	border-radius: 10px;
}

.form select {
	width: 200px;
	height: 27px;
}

button {
	border: none;
	background-color: #1877f2;
	color: white;
	margin: auto;
	width: 100px;
	display: block;
	border-radius: 20px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
	margin-left: 3%
}