.button {
	border: none;
	background-color: #1877f2;
	color: white;
	margin-left: 0px;
	width: 100px;
	display: block;
	border-radius: 5px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
}

input[type='text'], input[type='password'], input[type='email'], input[type='date'] {
	display: block;
	background-color: #fff;
	margin: auto;
	border: 1.5px solid rgb(200, 200, 200);
	width: 200px;
	padding: 10px 40px;
	border-radius: 5px;
	text-align: center;
	color: black;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 15px;
}

.textarea {
	width: 40%;
	height: 40%;
    display: block;
}

.div{
	padding-left: 25%;
	padding-right: 25%;
}

.table_size{
	border: 2;
}

table {
  width: 400px;
  margin-top: 30px;
  border-collapse: collapse;
  font-size: 18px;
  border-radius: 100px;
  margin-left: 5%;
}

th,
td {
  padding: 8px 8px;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
}

thead th {
  background-color: white;
  color: #1877f2;
  width: 25%;
  font-size: 21px;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: white;
}