body {
  margin: 0;
  background-color: white;
  height: 2000px;
  background-size: 1370px 600px;
}

.iframe {
   margin-left: 30%;
    top: 42%;
    left: 18%;
    width: 700px;
    height: 1500px;
    margin-top: -400px;
    margin-right: 20px;
    z-index: 999;
    border-radius:20px;
} 

img{
	border-radius: 450%;
	width: 150px;
	height: 150px;
}

img.p{
	right: 30px;
}

.logout {
  background-color: white;
  border: none;
  right: 10px;
  color: white;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.main{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dashboard{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 10px;
    margin-left: 20px;
}
ul {
  font-size: 19px;
  padding: 0;
  width: 200px;
  text-align: center;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 5px 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #1877f2;
  color: white;
}

.button {
	border: none;
	margin-right: 20px;
	background-color: #1877f2;
	color: white;
	margin-left: 0px;
	width: 100px;
	border-radius: 5px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
}

.button1 {
	border: none;
	background-color: #FF0000;
	color: white;
	margin-left: 0px;
	width: 200px;
	display: block;
	border-radius: 5px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
}

p{
	font-size: 22px;
	color: black;
	margin-left: 8%;
}

.navbar {
    background: #3b5998;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    top: 0;
    z-index: 999;
    position: sticky;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    position: sticky;
}

#navbar__logo {
    color: gold;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}