.button {
	border: none;
	background-color: #FF0000;
	color: white;
	margin: auto;
	width: 100px;
	display: block;
	border-radius: 5px;
	padding: 5px 0;
	font-weight: bold;
	cursor: pointer;
}

.button1 {
	border: none;
	background-color: #1877f2;
	color: white;
	margin: auto;
	width: 100px;
	display: block;
	border-radius: 20px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
	margin-left: 3%;
}

form{
	margin-left: 25%;
	margin-bottom: 5%;
	margin-right: 35%;
	margin-top: 5%;
	background-size: center;
	justify-content: center;
	border-radius: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 800px;
  margin-top: 80px;
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}

body{
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
  background-image: 
  	url("https://st.depositphotos.com/1035451/3325/v/950/depositphotos_33257541-stock-illustration-network-color-technology-background.jpg");
}