.container{
	width: 500px;
	background-color: white;
	height: 620px;
	border: 3px solid black;
	margin-left: 30%;
	border-radius: 10%;
	position: fixed;
	box-shadow: 5px 3px 5px 3px;
}
input[type='text'], input[type='password'], input[type='date'], input[type='email'] {
	display: block;
	background-color: #fff;
	margin: auto;
	border: 1.5px solid rgb(200, 200, 200);
	width: 200px;
	padding: 10px 40px;
	border-radius: 5px;
	text-align: center;
	color: black;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-size: 15px;
}
button {
	border: none;
	background-color: #1877f2;
	color: white;
	margin: auto;
	width: 100px;
	display: block;
	border-radius: 20px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
	margin-left: 3%
}
.button1 {
	border: none;
	background-color: #00FF00;
	color: white;
	margin: auto;
	width: 100px;
	display: block;
	border-radius: 20px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
	margin-left: 1050%
}
.h1{
	text-align: center;
}